*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --main-color: #654d3c;
  --secondary-color: #f0f2f4;
  --h2-color: #a08b5b;
  --about-office-color: #4e5860;
  --phone-button: #ffffff;
  --phone-button-background: #a17f66;
  --phone-button-shadow: #302a25;
  --about-us-text: #6c757d;
  --white-color: #ffffff;
}

body {
  font-family: "cairo", sans-serif;
}

.logo {
  display: block;
  width: 5%;
  margin: 0.5em 1em 0.1em 0;
}

h1 a {
  display: flex;
  font-size: 1.5rem;
  padding: 2.3em 0 0.1em 0;
  color: var(--main-color);
}
header {
  display: flex;
  width: 100%;
  gap: 1rem;
}
/* .menu-button {
  display: none;
} */
nav li  {
  font-size: 1.6rem;
  padding: 2.2em 2em 0 0;
  color: var(--main-color);
  font-weight: 650;
  transition: all 0.2s ease-out; /* HERE */
}
nav a{
  color: var(--main-color);
}
nav ul {
  padding-right: 48em;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in;
  
}
nav li{
  list-style-type: none;
}
nav li a:hover{
color: rgb(179, 153, 131);
}
a {
  text-decoration: none;
}

.phone-button-header {
  width: 10%;
  display: block;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 1em 0.6em 1em 0.4em;
  margin: 1.3em 7em 1.5em 0;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  transition: all 0.5s ease-out;
}
.phone-button-header:hover {
  cursor: pointer;
  background-color: #695344;

  box-shadow: 3px -0.7px 3px var(--phone-button-shadow);
}

main {
  background-color: var(--secondary-color);
  margin-top: 0.3em;
}
h2 {
  font-size: 3rem;
  padding: 2em 5.5em 0 0;
  color: var(--h2-color);
}
.about-office {
  font-size: 1.9rem;
  color: var(--about-office-color);
  margin: 1.5em 8.5em;
  width: 35%;
}
.main-list {
  margin: 1.5em 12em 0 11.3em;
  font-size: 1.6rem;
  color: #000000;
}
.main-list li {
  line-height: 3em;
}
.sub-container {
  display: flex;
  flex-direction: row;
  gap: 7em;
}
.slideshow {
  width: 34%;
  margin: -16em 0 -10em 0;
  background-size: cover;
  background-position: center;
  animation: slideshow 8s infinite;
  border-radius: 0.5rem;
}
@keyframes slideshow {
  0% {
    background-image: url(assets/banner1.webp);
  }
  50% {
    background-image: url(assets/banner2.webp);
  }
  70% {
    background-image: url(assets/banner3.webp);
  }
  100% {
    background-image: url(assets/banner4.webp);
  }
}
.phone {
  display: inline-block;
  width: 20%;
  background-color: var(--phone-button-background);
  color: var(--phone-button);
  margin: 2em 11.5em 8em 0;
  padding: 1.2em 0 1.5em 0;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 601;
  transition: all 0.5s ease-in-out;
}
.phone:hover {
  transition: all 0.5s ease-in-out;
  background-color: #6c4e3b;
  box-shadow: 2px -0.7px 2px var(--phone-button-shadow);
  /* font-size: 1.5rem; */

  color: var(--white-color);
}

.whatsapp {
  display: inline-block;
  width: 15%;
  background-color: rgb(223, 220, 220);
  color: var(--main-color);
  margin: -6rem 1em 4em;
  padding: 1.2em 0 1.5em 0;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 601;
  transition: all 0.5s ease-in-out;
}
.whatsapp:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #27ae60;
  box-shadow: 3px -0.7px 2px var(--phone-button-shadow);
  font-size: 1.45rem;
  color: var(--white-color);
}

.who-are-we {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-top: 2em;
}
.who-are-we-heading {
  font-size: 3rem;
  font-weight: 650;
  padding: 1em 4.8em 0 0;
  color: var(--main-color);
}

.about-us-1,
.about-us-2 {
  font-size: 1.9rem;
  color: var(--about-us-text);
  margin: 1.5em 8.5em 0 0;
  width: 68%;
}

.about-us-2 {
  margin: 1.5em 8.5em 5em 0;
}

.who-are-we-container {
  width: 52%;
}

.features {
  width: 40%;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 15em;
}

.features-list li {
  list-style-type: none;
  width: 48%;
  background-color: var(--white-color);
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 0 -0.5px 4px 0 rgb(101 77 60), 0 1px 4px 0 rgb(101 77 60),
    -1.5px 0 4px 0 rgb(101 77 60), 1.5px 0 4px 0 rgb(101 77 60);
  font-size: 1.2rem;
  text-align: center;
}
.features-list li:not(.before-last-box, .last-box) {
  margin-top: 8em;
}
.reliable-recruitment,
.wide-expertise,
.continuous-support,
.special-actions {
  font-weight: 650;
  font-size: 1.5rem;
}

.best-office,
h4 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 650;
  padding-top: 1.5em;
}
.best-office {
  color: var(--about-office-color);
}

h4 {
  padding-top: 1em;
  padding-bottom: 2em;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--main-color);
}
.services {
  margin: 5em 0 15em 0;
}
.first-two-services {
  display: flex;
  flex-wrap: wrap;
}
.labor-image,
.driver-image,
.ready-to-move-labors,
.several-nationalities {
  width: 65%;
  border-radius: 1rem;
}

.first-service,
.second-service,
.third-service,
.fourth-service {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.first-service span,
.second-service span,
.third-service span,
.fourth-service span {
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}
.first-service p,
.second-service p,
.third-service p,
.fourth-service p {
  font-size: 1.8rem;
  color: #4e555a;
  width: 65%;
  margin-bottom: 1.5em;
}
.second-two-services {
  display: flex;
  flex-wrap: wrap;
}
.fourth-service {
  margin-bottom: 9em;
}
.guarantee-section {
  display: block;
  background-color: #f0f2f4;
  margin: -9em 0 5em 0;
}
.guarantee-paragraph {
  width: 78%;
  font-size: 2rem;
  font-weight: 900;
  padding: 2em 7em 0 0;
  text-align: center;
  color: var(--main-color);
}
.guarantee-description-two {
  padding-bottom: 4em;
}
.guarantee-section li {
  font-size: 2rem;
  font-weight: 700;
  margin: 1em 8.5em 0 0;
}
.guarantee-description,
.guarantee-description-two {
  width: 54%;
  margin: 1em 10em 2em;
  font-size: 1.7rem;
}
footer {
  width:100%;
  background-color: rgb(101, 77, 60);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8em;
  margin-top: 11em;
}
.first-column-footer,
.second-column-footer,
.third-column-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  color: white;
}

.first-column-footer p {
  font-size: 1.7rem;
  width: 93%;
  line-height: 2em;
  color: #dfcbcb;
}
.first-column-footer {
  margin-right: 29em;
}
.company-name-footer {
  font-size: 1.7rem;
  font-weight: 650;
  margin-top: 3.5em;
}
.second-column-footer span,
.third-column-footer span {
  font-size: 1.9rem;
  font-weight: 650;
  margin-top: 3em;
}

.second-column-footer li,
.third-column-footer li {
  font-size: 1.7rem;
  list-style-type: none;
  line-height: 2.9rem;
  color: #ede0e0;
}
.second-column-footer {
  width: 15%;
}
.second-column-footer a {
  color: #dfcbcb;
  cursor: pointer;
}
.second-column-footer a:hover {
  color: rgb(194, 162, 140);
}

.third-column-footer li {
  width: 73%;
  color: #dfcbcb;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
hr {
  width: 80%;
  border: 1px solid rgb(111 83 63);
}
.footer-bottom span {
  font-size: 1.4rem;
  color: #ffffff;
}
.footer-bottom p {
  font-size: 1.4rem;
  color: #ede0e0;
}
.creator {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--white-color);
}
@media (min-width: 320px) and (max-width: 480px) {
  /* 0 >= 320px */
  html {
    font-size: 45%;
  }
  .logo {
    width: 15%;
    margin-right: 0;
  }

  h1 a {
    width: 82%;
  }
  .phone-button-header{
    display: none;
  }
  nav ul{
    padding-right: 0;
  }
  nav li{
    padding-right:1em;
  }
  /* .menu-button {
    display: block;
    margin-right: 12rem;
    font-size: 3rem;
    font-weight: 900;
    border: none;
    background-color: #ffffff;
    color: var(--main-color);
  }
  nav {
    display: none;
  }
  .nav-tabs.active{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-tabs a{
    background-color: red;
    position: absolute;
    left: 79%;
    top: 100%;
    width: 70%;
    height: 20rem;
    /* max-width: 20rem; 

  } 
    */
  
  
  .phone-button-header {
    margin-top: 1.7em;
    margin-right: -13em;
    cursor: pointer;
  }
  main {
    max-width: 98%;
  }
  h2 {
    padding-right: 0.5em;
  }
  .about-office {
    margin-right: 1.5em;
    width: 77%;
    font-size: 2.4rem;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .main-list {
    margin-right: 3em;
    font-size: 2.2rem;
    width: 74%;
  }
  .main-list li {
    line-height: 2.5em;
  }
  .slideshow {
    width: 100%;
    height: 50rem;
    margin: 0.5em;
    padding: 0;
  }
  .phone,
  .whatsapp {
    width: 93%;
    font-size: 3rem;
    margin-right: 0.6em;
    margin-left: 0.5em;
  }
  .phone {
    margin-bottom: 3em;
  }
  .who-are-we-container {
    width: 87%;
  }
  .who-are-we-heading {
    padding-right: 1.6em;
    display: block;
    width: 100%;
  }
  .about-us-1,
  .about-us-2 {
    font-size: 2.5rem;
    margin-right: 2.5em;
    width: 88%;
  }
  .about-us-2 {
    margin-bottom: 2em;
  }
  .features {
    width: 95%;
  }
  .features-list li:not(.before-last-box, .last-box) {
    margin-top: 0;
  }
  .features-list {
    justify-content: center;
    gap: 4rem;
  }
  .features-list li {
    width: 77%;
  }
  .reliable-recruitment,
  .wide-expertise,
  .continuous-support,
  .special-actions {
    font-size: 2rem;
  }
  .features div {
    font-size: 2rem;
  }
  .best-office {
    font-size: 2rem;
  }
  h4{
    font-size: 2.7rem;
  }
  
  .first-service p,
  .second-service p,
  .third-service p,
  .fourth-service p {
    font-size: 2rem;
  }
  .guarantee-paragraph {
    width: 93%;
    padding-right: 1em;
  }
  .guarantee-description,
  .guarantee-description-two {
    font-size: 2rem;
    margin-right: 3em;
    width: 80%;
  }
  .guarantee-section li {
    margin-right: 2.5em;
  }
  footer {
    gap: 0em;
    min-height: 100vh;
    height: 100%;
  }
  
  .first-column-footer p,
  .second-column-footer li {
    font-size: 1.8em;
    width: 61%;
  }
  
  .first-column-footer {
    margin-right: 4em;
    width: 87%;
  }
  
  .second-column-footer,
  .third-column-footer {
    width: 100%;
    margin-right: 5em;
  }
  .third-column-footer {
    
    margin-top: -1em;
    margin-bottom: 7em;
  }
  .third-column-footer li {
    font-size: 1.8rem;
  }
  .footer-bottom{
    min-height: 37vh;
    gap:1.5rem;
  }
  
}

@media (min-width: 481px) and (max-width: 768px) {
  /* 321 >= 768 */

  html {
    font-size: 70%;
  }
  .logo {
    width: 12%;
  }
  nav {
    padding-right: 0.5em;
  }
  nav ul{
    padding-right: 1em;
  }
  .phone-button-header {
    margin-right: 1em;
    margin-left: 0.2em;
    width: 28%;
  }
  main {
    min-width: 100%;
  }
  .sub-container {
    flex-wrap: wrap;
  }
  h2 {
    font-size: 2.5rem;
    padding-right: 2.5em;
  }
  .about-office {
    margin-right: 3.5em;
    width: 50%;
  }
  .main-list {
    margin: 1.5em 6em 0 0;
  }
  .phone {
    width: 36%;
    margin-right: 3.5em;
    margin-top: 12rem;
  }
  .slideshow {
    margin-top: -5rem;
    width: 100%;
    height: 61rem;
  }
  .whatsapp {
    min-width: 37%;
  }
  .who-are-we-container {
    width: 57%;
  }
  .who-are-we-heading {
    padding-right: 2em;
    font-size: 2.5rem;
    display: block;
    width: 113%;
    margin-top: -1em;
  }
  .about-us-1,
  .about-us-2 {
    margin-right: 4em;
    width: 75%;
  }
  .features-list {
    gap: 0.6em;
  }
  .features-list li {
    box-shadow: 0 -0.5px 1px 0 rgb(101 77 60), 0 1px 1px 0 rgb(101 77 60),
      -1.5px 0 1px 0 rgb(101 77 60), 1.5px 0 1px 0 rgb(101 77 60);
  }
  .features-list li:not(.before-last-box, .last-box) {
    margin-top: 6em;
  }
  footer{
    height: 100vh;
    gap: 5rem;
  }
  .first-column-footer{
    margin-right: 3em;
  }
  .second-column-footer{
    width: 25%;
  }
  .third-column-footer{
    width: 28%;
  }
  .footer-bottom{
    margin-top: -20em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* 769  > 1024 px  */

  html {
    font-size: 65%;
  }
  .logo{
    width: 9%;
    height: 5rem;
    margin-top: 2.5em;
  }
  header{
gap: 0.1em;
  }
  nav {
    padding-right: 0em;
  }
  nav ul{
    padding-right: 0;
  }
  .phone-button-header{
    margin-right: 7em;
    margin-bottom: 4.5em;
    margin-top: 1.3em;
    padding-top:1em;
    padding-bottom: 1em;
    width: 15%;

  }
  h1 a {
    padding-top: 3.3em;
  }
  nav{
    padding-top: 1.3em;
    padding-right: 11em
  }
  .main-container {
    padding-right: 1rem;
  }
  .about-office{
    width: 54%;
  }
  .sub-container {
    flex-wrap: wrap;
  }
  .slideshow {
    margin-top: -6rem;
    width: 100%;
    height: 47rem;
  }
  .phone {
    width: 27%;
    margin-top: 14rem;
    margin-right: 19.5rem;
  }
  .whatsapp {
    width: 27%;
  }
  .who-are-we-heading {
    display: block;
    min-width: 129%;
    padding-right: 1.8em;
  }
  .about-us-1, .about-us-2{
    margin-right: 3.5em;
    width: 73%;
  }
  .first-two-services,
  .second-two-services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .features-list {
    gap: 1rem;
  }
  footer {
    min-width: 76.5rem;
    height: 100vh;
  }
  .footer-bottom{
    height: 50vh;
  }

  .first-column-footer {
    margin-right: 13em;
  }
}

@media (min-width: 1024) {
  /*1024+ */

  html {
    font-size: 100%;
  }
  footer{
    height: 100vh;
  }
  .footer-bottom{
    height: 50vh;
  }
}
