
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --logo-color: #654d3c;
  --main-background-color: #f0f2f4;
  --h2-color: #a08b5b;
  --about-office-color: #4e5860;
  --black-color: #000000;
  --phone-button: #ffffff;
  --phone-button-background: #a17f66;
  --phone-button-hover: #695344;
  --phone-button-shadow: #302a25;
  --about-us-text: #6c757d;
  --white-color: #ffffff;
}

body {
  font-family: "cairo", sans-serif;
}

.logo {
  display: block;
  width: 5%;
  margin: 0.5em 1em 0.1em 0;
  
}

h1 a {
  display: flex;
  font-size: 1.5rem;
  padding: 2.3em 0 0.1em 0;
  color: var(--logo-color);
}
header {
  display: flex;
  gap: 1rem;
}
nav a {
  font-size: 1.6rem;
  padding: 2.2em 2em 0 0;
  color: var(--logo-color);
  font-weight: 650;
}
nav {
  padding-right: 48em;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
 
}

.phone-button-header {
  background-color: var(--logo-color);
  color: var(--white-color);
  padding: 1em 0.8em 1em;
  margin: 1.3em 7em 1.5em 0;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.5em;
}

main {
  background-color: var(--main-background-color);
  margin-top: 0.3em;
}
h2 {
  font-size: 3rem;
  padding: 2em 5.5em 0 0;
  color: var(--h2-color);
}
.about-office {
  font-size: 1.9rem;
  color: var(--about-office-color);
  margin: 1.5em 8.5em;
  width: 35%;
}
.main-list {
  margin: 1.5em 12em 0 11.3em;
  font-size: 1.6rem;
  color: var(--black-color);
}
.main-list li {
  line-height: 3em;
}

.main-container {
  display: flex;
  flex-direction: row;
  column-gap: 6em;
}
.slideshow {
  width: 600px;
  height: 520px;
  margin-top: -16em;
  background-size: cover;
  background-position: center;
  animation: slideshow 8s infinite;
  transition: background-image 1s ease-in-out;
  border-radius: 0.5rem;
}
@keyframes slideshow {
  0% {
    background-image: url(assets/banner1.webp);
  }
  50% {
    background-image: url(assets/banner2.webp);
  }
  70% {
    background-image: url(assets/banner3.webp);
  }
  100% {
    background-image: url(assets/banner4.webp);
  }
}
.phone {
  display: inline-block;
  width: 19%;
  background-color: var(--phone-button-background);
  color: var(--phone-button);
  margin: -6rem 11.5em 4em 0;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 601;
}
.phone:hover {
  transition: all 0.5s ease-in-out;
  background-color: var(--phone-button-hover);
  box-shadow: 3px -0.7px 2px var(--phone-button-shadow);
  font-size: 1.45rem;
}
.whatsapp {
  display: inline-block;
  width: 15%;
  background-color: rgb(223, 220, 220);
  color: var(--logo-color);
  margin: -6rem 1em 4em;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 601;
}
.whatsapp:hover {
  transition: all 0.5s ease-in-out;
  background-color: #27ae60;
  box-shadow: 3px -0.7px 2px var(--phone-button-shadow);
  font-size: 1.45rem;
  color: var(--white-color);
}

.who-are-we {
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: row;

  gap: 0.5em; /*pp*/
  padding-top: 2em;
  flex-wrap: wrap;
}
.who-are-we-heading {
  
  font-size: 3rem;
  font-weight: 650;
  padding: 1em 4.8em 0 0;
  color: var(--logo-color);
}

.about-us-1,
.about-us-2 {
  font-size: 1.7rem;
  color: var(--about-us-text);
  margin: 1.5em 8.5em 0 0;
  width: 68%;
}

.about-us-2 {
  margin: 1.5em 8.5em 5em 0;
}

.who-are-we-container {
  width: 52%;
}

.features {
  width: 40%;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
 
}

.features-list li {
  list-style-type: none;
  width: 48%;
  background-color: var(--white-color);
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 0 -0.5px 4px 0 rgb(101 77 60), 0 1px 4px 0 rgb(101 77 60),
    -1.5px 0 4px 0 rgb(101 77 60), 1.5px 0 4px 0 rgb(101 77 60);
  font-size: 1.2rem;
  text-align: center;
}
.features-list li:not(.before-last-box, .last-box) {
  margin-top: 8em;
}
.reliable-recruitment,
.wide-expertise,
.continuous-support,
.special-actions {
  font-weight: 650;
  font-size: 1.5rem;
}
.services {
  background-color: #f0f2f4;
  margin-top: 5em;
}
.best-office,
h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
  padding-top: 1.5em;
  color: var(--logo-color);
}
h3 {
  padding-top: 1em;
  font-weight: 700;
  font-size: 2.5rem;
}
.first-two-services {
  display: flex;
  flex-wrap: wrap;
}
.labor-image,
.driver-image,
.ready-to-move-labors,
.several-nationalities {
  width: 65%;
  border-radius: 1rem;
}

.first-two-services,
.second-two-services {
  margin-top: 4.5em;
}
.first-service,
.third-service {
  margin-right: 3em;
}
.first-service,
.second-service,
.third-service,
.fourth-service {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.first-service span,
.second-service span,
.third-service span,
.fourth-service span {
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 700;
  color: var(--logo-color);
}
.first-service p,
.second-service p,
.third-service p,
.fourth-service p {
  font-size: 1.5rem;
  color: #4e555a;
  width: 65%;
}
.second-two-services {
  display: flex;
  flex-wrap: wrap;
}
.guarantee-section {
  background-color: #f0f2f4;
  margin-top: 4em;
}
.guarantee-paragraph {
  width: 78%;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 2em;
  padding-right: 7em;
  text-align: center;
  color: var(--logo-color);
}
.guarantee-section li {
 
  font-size: 2rem;
  font-weight: 700;
  margin: 1em 8.5em 0 0;
}
.guarantee-description {
  width: 54%;
  margin: 1em 10em;
  font-size: 1.5rem;
}
footer {
  background-color: rgb(101, 77, 60);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8em;
  margin-top: 11em;
}
.first-column-footer,
.second-column-footer,
.third-column-footer {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: white;
}

.first-column-footer p {
  font-size: 1.4rem;
  width: 70%;
  line-height: 2em;
  
  color: #d6cece;
}
.first-column-footer {
  margin-right: 16em;
}
.company-name-footer {
  
  font-size: 1.7rem;
  font-weight: 650;
  margin-top: 3.5em;
}
.second-column-footer span,
.third-column-footer span {
  font-size: 1.9rem;
  font-weight: 650;
  margin-top: 3em;
}
.first-column-footer,
.second-column-footer,
.third-column-footer {
  gap: 1rem;
}
.second-column-footer li,
.third-column-footer li {
  font-size: 1.4rem;
  list-style-type: none;
  line-height: 2.9rem;
  color: #ede0e0;
}
.second-column-footer {
  width: 15%;
}
.third-column-footer li {
  width: 73%;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
hr {
  width: 80%;
  border: 1px solid rgb(111 83 63);
}
.footer-bottom span {
  font-size: 1.3rem;
  color: #ffffff;
}
.footer-bottom p {
  font-size: 1.2rem;
  color: #ede0e0;
}
.creator {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -7.5em;
  color: var(--white-color);
}

